.container{
    width:80%;
    margin:0 auto;
}
.right{
    display:flex;
    flex-direction:column;
    flex:8;
    flex-wrap:wrap;
}
.lala{
    display:flex;
    min-height:60px;
    font-family:AHGBold;
    padding:5px;
    flex-wrap: wrap;
    align-self: stretch;
}
.lala .title{
    flex:1 1 10%;
    display:flex;
    flex-direction:column-reverse;
    font-size:24px;
    padding-bottom:5px;
}
.lala .tagline{
    flex:1 1 85%;
    display:flex;
    flex-direction:column-reverse;
    font-size:16px;
    padding-bottom:7px;
}
.links{
    padding:10px;
    display:flex;
    align-self: stretch;
    flex-wrap:wrap;
}
.links nav a{
    padding:8px;
    text-decoration: none;
    font-size: 15px;
    color:black;
    flex:1 1 33.33%;
}
.active{
    color:blue !important;
    border-bottom:2px solid blue;
}